* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_17 {
  width: 100%;
  height: 1039px;
  background: rgba(14,14,14,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_3 {
  width: 100%;
  color: rgba(239,239,239,1);
  position: absolute;
  top: 32px;
  left: 80px;
  font-family: Source Sans Pro;
  font-weight: Bold;
  font-size: 38px;
  opacity: 1;
  text-align: center;
}
.v15_30 {
  width: 302px;
  height: 314px;
  background: url("../images/v15_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 80px;
  overflow: hidden;
}
.v15_31 {
  width: 156px;
  height: 23px;
  background: url("../images/v15_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.v15_32 {
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v15_33 {
  width: 15px;
  height: 11px;
  background: rgba(239,239,239,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
}
.v15_34 {
  width: 122px;
  color: rgba(239,239,239,1);
  position: absolute;
  top: 0px;
  left: 34px;
  font-family: Source Sans Pro;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_35 {
  width: 169px;
  height: 23px;
  background: url("../images/v15_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 8px;
  overflow: hidden;
}
.v15_36 {
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v15_37 {
  width: 14px;
  height: 14px;
  background: rgba(239,239,239,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
}
.v15_38 {
  width: 135px;
  color: rgba(239,239,239,1);
  position: absolute;
  top: 0px;
  left: 34px;
  font-family: Source Sans Pro;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_39 {
  width: 161px;
  height: 23px;
  background: url("../images/v15_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 118px;
  left: 8px;
  overflow: hidden;
}
.v15_40 {
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v15_41 {
  width: 15px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
}
.v15_42 {
  width: 127px;
  color: rgba(239,239,239,1);
  position: absolute;
  top: 0px;
  left: 34px;
  font-family: Source Sans Pro;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_43 {
  width: 237px;
  height: 23px;
  background: url("../images/v15_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 173px;
  left: 8px;
  overflow: hidden;
}
.v15_44 {
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v15_45 {
  width: 18px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
}
.v15_46 {
  width: 203px;
  color: rgba(239,239,239,1);
  position: absolute;
  top: 0px;
  left: 34px;
  font-family: Source Sans Pro;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_47 {
  width: 259px;
  height: 23px;
  background: url("../images/v15_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 228px;
  left: 8px;
  overflow: hidden;
}
.v15_48 {
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v15_49 {
  width: 14px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v15_50 {
  width: 225px;
  color: rgba(239,239,239,1);
  position: absolute;
  top: 0px;
  left: 34px;
  font-family: Source Sans Pro;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_51 {
  width: 269px;
  height: 23px;
  background: url("../images/v15_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 283px;
  left: 8px;
  overflow: hidden;
}
.v15_52 {
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v15_53 {
  width: 13px;
  height: 14px;
  background: url("../images/v15_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 3px;
  overflow: hidden;
}
.v15_54 {
  width: 13px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v15_55 {
  width: 2px;
  height: 3px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 6px;
}
.v15_56 {
  width: 235px;
  color: rgba(239,239,239,1);
  position: absolute;
  top: 0px;
  left: 34px;
  font-family: Source Sans Pro;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_20 {
  width: 954px;
  height: 455px;
  background: url("../images/v15_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 406px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v15_21 {
  width: 100%;
  height: 358px;
  background: rgba(14,14,14,1);
  padding: 16px 8px;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 607px;
  left: 80px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v15_22 {
  width: 100%;
  height: 154px;
  background: url("../images/v15_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 8px;
  overflow: hidden;
}
.v15_23 {
  width: 80px;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 592px;
  overflow: hidden;
}
.v15_24 {
  width: 70px;
  height: 71px;
  background: url("../images/v15_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 5px;
  overflow: hidden;
}
.v15_25 {
  width: 49px;
  height: 51px;
  background: rgba(239,239,239,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 11px;
}
.v15_26 {
  width: 70px;
  height: 25px;
  background: rgba(239,239,239,1);
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 0px;
}
.v15_27 {
  width: 231px;
  color: rgba(239,239,239,1);
  position: absolute;
  top: 104px;
  left: 517px;
  font-family: Source Sans Pro;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v15_28 {
  width: 357px;
  height: 44px;
  background: rgba(3,112,120,1);
  padding: 12px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 462px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v15_29 {
  width: 199px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 79px;
  font-family: Source Sans Pro;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
