<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visão Estratégica de Cancelamentos em Apps de Transporte</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div>
            <h1>Visão Estratégica de Cancelamentos <br> em Apps de Transporte</h1>
            <img src="{{ url_for('static', filename='img/eccb17e445d1417595732e3a62df4f28.jpg') }}" alt="">
        </div>

        <!-- Upload de Arquivo CSV -->
        <div class="container-upload">
            <h3>Upload de Arquivo CSV</h3>
            <form id="uploadCsvForm" enctype="multipart/form-data" method="POST" action="/upload_csv">
                <label for="csvFileInput" class="custom-file-label">
                    Selecione um arquivo CSV
                </label>
                <input type="file" id="csvFileInput" name="file" accept=".csv" required>
                <button type="submit" class="btn btn-primary mt-2">Enviar CSV</button>
            </form>
        </div>

        <!-- Upload de Arquivo GeoJSON (Favelas) -->
        <div class="container-upload mt-4">
            <h3>Upload de Arquivo GeoJSON - Favelas</h3>
            <form id="uploadFavelasForm" enctype="multipart/form-data" method="POST" action="/upload_favelas">
                <button type="submit" class="btn btn-success">Carregar GeoJSON de Favelas</button>
            </form>
        </div>

        <!-- Upload de Arquivo GeoJSON (Censo) -->
        <div class="container-upload mt-4">
            <h3>Upload de Arquivo GeoJSON - Censo</h3>
            <form id="uploadCensoForm" enctype="multipart/form-data" method="POST" action="/upload_censo">
                <button type="submit" class="btn btn-warning">Carregar GeoJSON do Censo</button>
            </form>
        </div>
    </div>

    <!-- Tabela de Dados -->
    <div class="containerTable mt-5">
        <div id="data">
            <h3>Dados do Arquivo</h3>
            {% if data %}
                <div>
                    <label for="statusFilter">Filtrar por Status:</label>
                    <select id="statusFilter" class="form-select">
                        <option value="">Todos</option>
                        <option value="Cancelada pelo Passageiro">Cancelada pelo Passageiro</option>
                        <option value="Finalizada">Finalizada</option>
                        <option value="Cancelada pelo Taxista">Cancelada pelo Taxista</option>
                    </select>
                </div>
                <div id="table-container">{{ data | safe }}</div>  
            {% else %}
                <p>Nenhum arquivo carregado ainda.</p>
            {% endif %}
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <!-- Script para DataTable -->
    <script>
        $(document).ready(function() {
            if ($('#table-container table').length) {  
                var table = $('#table-container table').DataTable({
                    "pageLength": 20, 
                    "language": {
                        "lengthMenu": "Mostrar _MENU_ linhas por página",
                        "zeroRecords": "Nenhum dado encontrado",
                        "info": "Mostrando página _PAGE_ de _PAGES_",
                        "infoEmpty": "Nenhum dado disponível",
                        "infoFiltered": "(filtrado de _MAX_ total de registros)",
                        "search": "Buscar:",
                        "paginate": {
                            "first": "Primeiro",
                            "last": "Último",
                            "next": "Próximo",
                            "previous": "Anterior"
                        }
                    }
                });

                $('#statusFilter').on('change', function() {
                    var selectedValue = $(this).val();
                    table.column(0).search(selectedValue).draw();  
                });
            }
        });
    </script>
</body>
</html>
