<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impacto dos Eventos nos Cancelamentos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/subpage.css') }}">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Impacto dos Eventos na Cidade nos Cancelamentos</h1>
        <form id="filter-form">
        <input type="date" id="data_inicio">
        <input type="date" id="data_fim">
        <input type="number" id="distancia" value="5" step="0.1">
        <input type="number" id="tempo" value="2" step="0.1">
        <button type="submit">Aplicar</button>
    </form>

    <h2>Mapa</h2>
    <div id="mapa"></div>

    <h2>Gráfico Sankey</h2>
    <div id="sankey"></div>

    <h2>Detalhes</h2>
    <div id="tabela"></div>

    <script>
        document.getElementById("filter-form").addEventListener("submit", function(event) {
    event.preventDefault();

    fetch(`/dados?distancia=${document.getElementById("distancia").value}&tempo=${document.getElementById("tempo").value}`)
        .then(response => response.json())
        .then(data => {
            document.getElementById("mapa").innerHTML = data.mapa;
            document.getElementById("sankey").innerHTML = data.sankey;
            document.getElementById("tabela").innerHTML = data.tabela;
        });
     });
    </script>
</body>
</html>
