<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visão Estratégica de Cancelamentos</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <div class="v1_17">
        <span class="v5_3">Visão Estratégica de Cancelamentos em Apps de Mobilidade</span>
        
        <!-- Seções com links -->
        <div class="v15_30">
            <div class="v15_31"></div>
            <span class="v15_34"><a href="/analise-pessoal">Análise Pessoal</a></span>
        </div>
        <div class="v15_35">
            <div class="v15_36"></div>
            <span class="v15_38"><a href="/analise-temporal">Análise Temporal</a></span>
        </div>
        <div class="v15_39">
            <div class="v15_40"></div>
            <span class="v15_42"><a href="/analise-espacial">Análise Espacial</a></span>
        </div>
        <div class="v15_43">
            <div class="v15_44"></div>
            <span class="v15_46"><a href="/dados-correlacionados">Dados Correlacionados</a></span>
        </div>

        <!-- Seção de Upload -->
        <div class="v15_21">
            <div class="container-upload">
                <form id="uploadForm" action="/upload_csv" method="POST" enctype="multipart/form-data">
                    <div class="icon-upload">⬆</div>
                    <label for="fileInput" class="custom-file-label">Selecionar Arquivo</label>
                    <input type="file" id="fileInput" name="file">
                    <button type="submit" class="buttonSubimit hidenButton">Upload</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>