<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visão Estratégica de Cancelamentos</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='scripts/script.js') }}" defer></script>
</head>
<body>
    <div class="v1_17">
        <span class="v5_3">Visão Estratégica de Cancelamentos em Apps de Mobilidade</span>
        <div class="v15_30">
        </div>

        <!-- Menu de Navegação -->
        <nav>
           <ul>
               <li><a href="/">Home</a></li>
               <li><a href="/analise-espacial">Análise Espacial</a></li>
               <li><a href="/analise-temporal">Análise Temporal</a></li>
               <li><a href="/analise-pessoal">Análise Pessoal</a></li>
               <li><a href="/dados-correlacionados">Análise Sociodemográfica</a></li>
               <li><a>Análise de Comentários</a></li>
               <li><a>Impacto da Violência Urbana</a></li>
               <li><a href="/impacto_eventos">Impacto dos Eventos na Cidade</a></li>
           </ul>
        </nav>

        <!-- Seção de Upload -->
        <div class="v15_21">
            <div class="container-upload">
                <form id="uploadForm" action="/upload_csv" method="POST" enctype="multipart/form-data">
                    <div class="icon-upload">⬆</div>
                    <label for="fileInput" class="custom-file-label">Selecionar Arquivo</label>
                    <input type="file" id="fileInput" name="file">
                    <button type="submit" class="buttonSubimit hidenButton">Upload</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>