<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
<body>
    <div class="frame">
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/analise-temporal">Análise Temporal</a></li>
            <li><a href="/analise-pessoal">Análise Pessoal</a></li>
            <li><a href="/dados-correlacionados">Dados Correlacionados</a></li>
        </ul>

        <div class="div">
            <img class="img" src="images/ix-barchart.svg" alt="Ícone Análise Pessoal"/>
            <a href="/analise-pessoal" class="text-wrapper link">Análise Pessoal</a>
        </div>
        
        <div class="div">
            <img class="img" src="images/mdi-clock.svg" alt="Ícone Análise Temporal"/>
            <a href="/analise-temporal" class="text-wrapper link">Análise Temporal</a>
        </div>

        <div class="div">
            <img class="img" src="images/material-symbols-globe.svg" alt="Ícone Análise Espacial"/>
            <a href="/analise-espacial" class="text-wrapper link">Análise Espacial</a>
        </div>

        <div class="div">
            <img class="img" src="images/fluent-mdl2-financial.svg" alt="Ícone Análise Sociodemográfica"/>
            <a href="/analise-sociodemografica" class="text-wrapper link">Análise Sociodemográfica</a>
        </div>

        <div class="div">
            <img class="img" src="images/jam-triangle-danger-f.svg" alt="Ícone Impacto da Violência Urbana"/>
            <a href="/impacto-violencia-urbana" class="text-wrapper link">Impacto da Violência Urbana</a>
        </div>

        <div class="div">
            <img class="img" src="images/tabler-calendar-filled.svg" alt="Ícone Impacto de Eventos na Cidade"/>
            <a href="/impacto-eventos" class="text-wrapper link">Impacto de Eventos na Cidade</a>
        </div>
    </div>
</body>
</html>